.container {
  display: flex;
  justify-content: center;
  font-family: "Roboto", Arial, sans-serif;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 12px;
  width: fit-content;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  margin-top: 40px;
  margin-bottom: 40px;
}

.search-input,
.location-input {
  border: none;
  outline: none;
  padding: 8px;
  font-size: 14px;
}

.search-input {
  width: 300px;
}

.location-divider {
  margin: 0 8px;
  color: #888;
}

.location-input {
  width: 300px;
  color: #555;
  margin-right: 30px;
}

.search-button {
  background-color: #333;
  color: white;
  border: 2px white solid;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
}

.search-button:hover {
  background-color: white;
  border: 2px black solid;
  color: black;
}

.post-listing {
  margin-left: 16px;
  font-size: 12px;
  color: #555;
}

.post-listing a {
  color: #555;
  text-decoration: none;
  font-weight: bold;
}

.post-listing a:hover {
  text-decoration: underline;
}
